input:not([type="radio"]) {
  display: block;
  padding: 5px;
  margin: 10px;
}

label {
  display: inline;
}

h1 {
  font-size: 22px;
}

.valid {
  background-color: lightgreen !important;
}

.invalid {
  background-color: lightpink !important;
}